@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;500&display=swap');

#start{
  padding: 0.5cm;
  margin: 10px;
  display: flex;
  border-color: black;
  font-size: xx-large;
}

#continue{
  border-color: black;
  border-width: 0.25cm;
  font-size: 6rem;
  display: block;
  margin: auto;   
}

button{
  border-radius: 25px;
}

#welcome{
  background-color: var(--text-background);
  margin: 20px;
  margin-top: 15px;
  font-size: xx-large;
  text-align: center;
  padding: 10px;
  border-radius: 25px;
  padding-bottom: 30px;
}

:root{
  --text-background: rgba(211, 211, 211, 0.468);
  --clr-white: white;
  --dark-shadow: 0 5px 15px rgba(0, 0, 0, 0.2);
  --fixed-width: 620px;
  --clr-grey-1: hsl(209, 61%, 16%);
  --spacing: 0.1rem;
  --main-background: #3D5365;
  --clr-primary-5: hsl(205, 78%, 60%);
}

#start{
  padding: 0.5cm;
  margin: 10px;
  display: flex;
  border-color: black;
  font-size: xx-large;
}

#game{
  width: auto;
  height: auto;
  margin: auto;
}

#continue{
  border-color: black;
  border-width: 0.25cm;
  font-size: 6rem;
  display: block;
  margin: auto;   
}

button{
  border-radius: 25px;
}

#welcome{
  background-color: var(--text-background);
  margin: 20px;
  margin-top: 15px;
  font-size: xx-large;
  text-align: center;
  padding: 10px;
  border-radius: 25px;
  padding-bottom: 30px;
  font-weight: 600;
}

:root{
  --text-background: rgba(211, 211, 211, 0.539);
  --clr-white: white;
  --dark-shadow: 0 5px 15px rgba(0, 0, 0, 0.2);
  --fixed-width: 620px;
  --clr-grey-1: hsl(209, 61%, 16%);
  --spacing: 0.1rem;
  --main-background: #3D5365;
  --clr-primary-5: hsl(205, 78%, 60%);
}

html{
  height: 100%;
}

body{
  background-image: url("../img/18010.jpg");
  height: 100%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  font-family: 'Open Sans', sans-serif;
}

h1{
  font-weight: 300;
}

h4{
  letter-spacing: var(--spacing);
  text-transform: capitalize;
  line-height: 1.25;
  padding-bottom: 0.75rem;
  font-size: 1rem;
}

p,h5,h6{
  font-weight: 300;
}

h4{
  letter-spacing: var(--spacing);
  text-transform: capitalize;
  line-height: 1.25;
  padding-bottom: 0.75rem;
  font-size: 1rem;
}

p,h5,h6{
  font-weight: 500;
}

nav {
  border-radius: 25px;
  background: var(--clr-white);
  height: 3rem;
  display: grid;
  align-items: center;
  box-shadow: var(--dark-shadow);
}
.nav-center {
  width: 90vw;
  max-width: var(--fixed-width);
  margin: 0 auto;
  display: flex;
  align-items: center;
  text-align: center;
  justify-content: space-between;
}
.nav-center h4 {
  margin-bottom: 0;
  color: var(--clr-primary-5);
}
.nav-links {
  display: flex;
}
nav a {
  text-transform: capitalize;
  font-weight: 700;
  font-size: 1rem;
  color: var(--clr-primary-1);
  letter-spacing: var(--spacing);
  margin-right: 1rem;
}
nav a:hover {
  color: var(--clr-primary-5);
}

li{
  list-style-type: none;
}
